<div class="filter filter-lightbox">
  <div class="filter-nav">
    <button class="btn btn-success active" data-filter="">All</button>
    <button class="btn btn-primary" data-filter="nature">Nature</button>
    <button class="btn btn-primary" data-filter="food">Food</button>
    <button class="btn btn-primary" data-filter="architecture">Architecture</button>
  </div>
  <div class="filter-gallery mdb-ligthbox">
    <figure class="item" data-category="nature">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(30).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(30).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(1).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="food">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(42).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(2).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(2).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="nature">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(114).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(114).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(4).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(4).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(6).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(6).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="nature">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(115).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(115).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="food">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(44).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(44).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(5).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(5).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="food">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(45).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(45).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="food">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(46).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(46).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="food">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(47).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(47).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="nature">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(111).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(111).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="architecture">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(3).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(3).webp" alt="image">
        </a>
      </div>
    </figure>
    <figure class="item" data-category="nature">
      <div class="item-content">
        <a href="/img/Photos/Lightbox/Original/img%20(112).webp" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(112).webp" alt="image">
        </a>
      </div>
    </figure>
  </div>
</div>